<style>

	@font-face
	{
		font-family: Raleway;
		src:url('../fonts/Raleway-Medium.otf');
	}
	@font-face
	{
		font-family: Raleway;
		src:url('../fonts/Raleway-Medium.otf');
	}


	html,body{
		position: fixed;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	    width: 100%;
	    overflow: hidden;
	    overflow-x:hidden;
	    background-color: #161616;
	    height: 100%;
	    font-family: Raleway, sans-serif;
	}

	span:hover{
		cursor: pointer;
	}

	a{
		text-decoration : none;
		color: #F5F5F5;	
	}

	#loginContainer{
		position: absolute;
		z-index: 100;
		height: 100%;
		width: 100%;
	}

	#loginForm{
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		margin-top: auto;
		margin-bottom: auto;
		top: 20%;
		height: 170px;
		width: 80%;
		text-align: center;
		color: #fff;
		font-size: 82px; 
	}

	.loginBtn{
		margin-top: 50px;
		height: 130px !important;
		width: 100%;
		font-size: 62px; 
		height: 45px;
	}

	#coneLogin{
		height: 170px;
	}

	.lighter{
		background-color: #1E1E1E;
	}

	.darker{
		background-color: #161616;
	}

	#intro{
		position: absolute;
		z-index: 100;
		height: 100%;
		width: 100%;
		display: none;
	}

	#loading{
		position: absolute;
		top: 60px;
		height: 100%;
		width: 100%;
		background-color: #161616;
		z-index: 90;
	}

	#coneIntro{
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		margin-top: auto;
		margin-bottom: auto;
		top: 0;
		bottom: 24;
		height: 170px;
		width: 200px;
		text-align: center;
		color: #fff;
		font-size: 24px; 
	}

	#coneIntro img{
		height: 60px;
	}
		
	#navigation{
		position: fixed;
		top: 60px;
		z-index: 100;
		height: 100%;
		width: 80%;
	}

	.navUnclicked{
		left: -80%;
	}

	.navClicked{
		left: 0;
	}

	#backTheme{
		float: left;
		margin-top: 10px;
	}

	.themeItem{
		float: right;
		width: 17%;
		height: 100%;
	}

	#themeDefault{
		background-color: #161616;
	}

	#themeLight{
		background-color: #1CC4C5;
	}

	#themeOrange{
		background-color: #FF4E01;
	}

	#themeRed{
		background-color: #D81D46;
	}

	#themeBlue{
		background-color: #2AA9DF;
	}

	#profile{
		height: 150px;
		background-image: url('../images/city.jpg');
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	#profilePic{
		margin-top: 10px;
		margin-bottom: 10px;
		height: 100px;
		width: 100px;
		border-radius: 50%;
		border: 3px solid #fff;
	}

	#profileLabel{
		font-size: 20px;
		color: #fff;
	}

	.navItem{
		width: 100%;
		height: 50px;
		color: #F5F5F5;	
		padding-left: 12%; 
	}

/*	.active{
		background-color: #404040;
	}*/

	.navPic{
		float: left;
		margin-top: 8px;
		font-size: 30px;
	}

	.navLabel{
		float: left;
		margin-top: 12px;
		font-size: 18px;
		margin-left: 30px;
	}

	#navGroup{
		margin-top: 20px;
	}


	#container{
		-webkit-overflow-scrolling: touch;
		position: absolute;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		top: 60px;
		z-index: 1;
	}

	#resultIcon{
		font-size: 40px;
		position: relative;
  		top: 50%;
  		-moz-transform: translateY(-50%);
  		-webkit-transform: translateY(-50%);
  		-o-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
	}

	#toggleUp{
		display: none;
	}

	.navToggle{
		color: #F5F5F5;	
	}

	#themeHead{
		position: absolute;
		left: -100%;
		width: 100%;
		height: 60px;
		color: #f5f5f5;
		font-size: 20px;
		font-weight: bold;	
	}

	#head{
		position: absolute;
		width: 100%;
		height: 60px;
		color: #f5f5f5;
		font-size: 18px;
		font-weight: bold;	
		box-shadow:inset 0px 0px 30px 0px rgba(0,0,0,0.3);
	}

	#searchHead{
		position: absolute;
		padding-top: 10px;
		left: 100%;
		width: 100%;
		height: 60px;
		color: #f5f5f5;
		font-size: 20px;
		box-shadow:inset 0px 0px 30px 0px rgba(0,0,0,0.3);
	}

	#searchBox{
		float: right;
		width: 80%;
		margin-top: 10px;
		border: none;
		border-radius: 5px;
		margin-right: 4%;
		color: #161616;
	}

	.backArrow{
		margin-left: 4%;
		font-size: 35px;
	}

	#headLeft{
		float: left;
		height: 80%;
		width: 80%;
		padding-top: 14px;
	}

	#headRight{
		float: left;
		height: 80%;
		width: 20%;
		padding-right: 1%;
		padding-top: 15px;
	}

	#toggleDown{
		position: absolute;
		float: left;
		margin-top: 11px;
	}

	#container::-webkit-scrollbar{
		width: 0 !important
	}

	#container{
		-ms-overflow-style: none;
	}

	#container{
		overflow: -moz-scrollbars-none;
	}

	#cone{
		float: right;
		height: 34px;
	}

	#preloader{
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		margin-top: auto;
		margin-bottom: auto;
		top: 0;
		bottom: 40;
		display: none;
	}

	#parking{
		position: absolute;
		float: left;
		font-weight: normal;
		font-size: 26px;
		margin-left: 0;
		margin-top: 4px;
		left: 4%;
	}

	#body{
		width: 100%;
	}

	.destinations{
		float: left;
		font-weight: bold;
		font-size: 14px;
		color: #fff;
	}


	#recent{
		margin-top: 25px;
		margin-bottom: 20px;
	}

	#all{
		margin-top: 45px;
	}

	.places{
		width: 100%;
	}

	.destTable{
		width: 100%;
	}

	.toggleUnclicked{
		left: -15;
	}

	.toggleClicked{
		left: -22px;
	}

	.rows{
		width: 100%;
		height: 80px;
		border-top: 1px solid #161616;
		box-shadow:inset 0px 0px 20px 0px rgba(0,0,0,0.2);
	}

	.rows:active{
		background-color: #404040;
	}

	.placePic{
		float: left;
		width: 80px;
		height: 100%;
	}

	.placeDesc{
		padding-top: 12px;
		float: left;
		padding-left: 15px;
		width: 60%;
		height: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.image{
		margin-top: 2%;
		height: 95%;
		width: 95%;
	}

	.placeName{
		color: #1CC4C5;
		text-align: left;
		height: 22px;
		float: left;
		width: 100%;
		font-size: 18px;
		font-weight: bold;
		margin-top: 4px;
	}

	.placeAdd{
		float: left;
		font-size: 14px;
		font-weight: normal;
		margin-top: 7px;
		color: #EBEBEB;
	}

	.arrow{
		height: 100%;
		padding-top: 30px;
		float: right;
		text-align: center;
		width: 10%;
		font-size: 16px;
		color: #F5F5F5;
	}

	.glyphicon-align-justify{
		font-size: 26px;
	}

	#mapContainer{
		height: 100%;
		width: 100%;
		zoom: 45%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-webkit-overflow-x-scrolling: touch;
	}

	#malugay{
		float: left;
		display: inline;
		font-size: 40px;
		margin-left: -100px;
		margin-right: -100px;
		margin-top: 300px;
		font-style: italic;
		-ms-transform: rotate(-90deg); /* IE 9 */
	    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	    transform: rotate(-90deg);
	}

	#zuelig{
		font-size: 40px;
		margin-top: 200px;
		margin-left: 350px;
		margin-bottom: 100px;
		font-style: italic;
	}

	#feuMap{
		width: 2100px;
	}
	
	#feuBldg{
		left: 200px;
		height:550px;
		width: 975px;
		background-color: #1E1E1E;
	}

	#buendia{
		float: left;
		font-size: 40px;
		width: 430px;
		height: 100px;
		margin-top: -300px;
		font-style: italic;
		-ms-transform: rotate(90deg); /* IE 9 */
	    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	    transform: rotate(90deg);
	}

	#feuExit{
		float: left;
		width: 150px;
		margin-left: -70px;
		margin-top: 180px;
		background-color: #404040;
		color: #fff;
		text-align: center;
		font-size: 20px;
		-ms-transform: rotate(-90deg); /* IE 9 */
	    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	    transform: rotate(-90deg);
	}

	#feuEntrance{
		float: right;
		width: 150px;
		margin-right: -70px;
		margin-top: 120px;
		background-color: #404040;
		color: #fff;
		text-align: center;
		font-size: 20px;
		-ms-transform: rotate(90deg); /* IE 9 */
	    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	    transform: rotate(90deg);
	}

	#feuLeft{
		float: left;
		width: 200px;
		height: 680px;
		margin-right: 150px;
		border-left: 15px solid #404040;
		border-bottom: 15px solid #404040;
	}

	#feuMid{
		display: inline;
		float: left;
		height: 700px;
		margin-bottom: 50px;
		border-left: 15px solid #1E1E1E;
		border-right: 15px solid #1E1E1E;
	}

	#feuRight{
		float: left;
		width: 150px;
		height: 550px;
		margin-left: 200px;
		border-right: 15px solid #404040;
		border-bottom: 15px solid #404040;
	}

	.feuSlotsLeft{
		height: 75px;
		width: 120px;
		border-top: 2px solid #404040;
		border-bottom: 2px solid #404040;
	}

	.feuStopperLeft{
		float: left;
		margin-top: 5px;
		height: 55px;
		width: 10px;
		background-color: #1E1E1E;
	}

	.feuStopperRight{
		float: right;
		margin-top: 5px;
		height: 55px;
		width: 10px;
		background-color: #1E1E1E;
	}

	/*.innerLeftYellow{
		height: 20%;
		background-color: yellow;
	}

	.innerLeftBlack{
		height: 20%;
		background-color: black;
	}*/

	.feuSlotsBottom{
		float: left;
		height: 110px;
		width: 75px;
		border-left: 2px solid #404040;
		border-right: 2px solid #404040;
	}

	.feuStopperBottom{
		margin-left: 5px;
		width: 61px;
		height: 10px;
		background-color: #1E1E1E;
	}

	/*.innerBottomYellow{
		float: left;
		width: 20%;
		background-color: yellow;
		height: 10px;
	}

	.innerBottomBlack{
		float: left;
		width: 20%;
		background-color: black;
		height: 10px;
	}*/

	.feuSlotsRight{
		height: 75px;
		width: 120px;
		border-top: 2px solid #404040;
		border-bottom: 2px solid #404040;
	}

	.lastTop{
		height: 69px !important;
		border-top: none !important;
	}

	.lastBottom{
		border-bottom: none !important;
	}

	.lastLeft{
		width: 73px !important;
		border-left: none !important;
	}

	.lastRight{
		width: 73px !important;
		border-right: none !important;
	}

	.labelLeft{
		float: left;
		
		width: 110px;
		height: 75px;
		font-size: 24px;
		text-align: center;
		font-weight: bold;
	}

	.labelRight{
		float: right;
		
		width: 110px;
		height: 75px;
		font-size: 24px;
		text-align: center;
		font-weight: bold;
	}

	.labelMid{
		
		width: 70px;
		height: 110px;
		font-size: 24px;
		text-align: center;
		font-weight: bold;
		padding-top: 20px;
	}

	.available{
		color: #1CC4C5;
	}

	.notAvailable{
		color: red;
	}

	#controlPanel{
		position: absolute;
		z-index: 99;
		height: 80px;
		width: 100%;
		background-color: #1A1A1A;
		bottom:-80px;	
		box-shadow:inset 0px 0px 30px 0px rgba(0,0,0,0.3);
	}

	#controlLeft{
		padding-top: 15px;
		float: left;
		height: 80px;
		width: 50%;
		color: #fff;
		text-align: center;
	}
	#controlRight{
		float: left;
		height: 80px;
		width: 50%;
	}

	#availLabel{
		font-size: 12px;
		font-weight: bold;
	}

	#mapContainer::-webkit-scrollbar{
		width: 0 !important
	}

	#mapContainer{
		-ms-overflow-style: none;
	}

	#mapContainer{
		overflow: -moz-scrollbars-none;
	}

	.zoom{
		float: right;
		background-color: #404040;
		height: 60px;
		width: 60px;
		margin: 8px;
		color: #fff;
		font-size: 28px;
		border: none;
		border-radius: 50% !important;
		box-shadow:inset 0px 0px 30px 0px rgba(0,0,0,0.3);
	}

	.zoom:focus{
		border:none !important;
		outline:none !important;
		background-color: #404040;
		color: #fff;
	}

	.zoom:active{
		background-color: #E6E6E6;
	}

	.zoom:hover{
		background-color: #404040;
		color: #fff;
	}

	#availCount{
		color: #1CC4C5;
		font-size: 32px;
	}

</style>