<style>

	@font-face
	{
		font-family: Quicksand;
		src:url('../fonts/Quicksand-Regular.otf');
	}
	@font-face
	{
		font-family: Quicksand;
		src:url('../fonts/Quicksand-Regular.otf');
	}

	@font-face
	{
		font-family: Quicksandb;
		src:url('../fonts/Quicksand-Bold.otf');
	}

	html,body{
		font-family: Quicksand;
		text-align: center;
		height: 100%;
	    overflow-y: auto;
	    width: 100%;
	    background-image: url('../images/bg1.png');
	    background-size: 100% 100%;
	    background-repeat: repeat;
	    background-attachment: fixed;
	    -webkit-overflow-scrolling: touch; 
	}

	#intro{
		position: absolute;
		z-index: 99;
		width: 100%;
		height: 100%;
		background-image: url('../images/intro.jpg');
		background-size: 100% 100%;
		background-attachment:fixed;
		background-repeat: no-repeat;
	}

	#searchBox{
		margin-top: 25px;
		margin-bottom: 20px;
		width: 95%;
		height: 75px;
		bottom: 0px;
		border-radius: 7px;
		font-size: 35px;
	}

	#content{
		height: 100%;
	}

	#footer{
		margin-top: 20px;
		height: 30px;
		width: 100%;
	}

	.buttons{
		margin: 15px;
		margin-top: 20px;
		font-size: 40px;
		color: #2AA9DF;
		background-color: #fff;
		border: none;
		opacity: .7;
		height: 30%;
		width: 45%;
	}


</style>