<html>
<head>
	<title>FEU</title>
</head>

<body>
	<div id="mapContainer">
		<div id="feuMap">
			<div id="malugay">
				MALUGAY STREET
			</div>
			<div id="feuLeft">
				<div class="lastTop feuSlotsLeft">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
					<div class="labelLeft">
						{% if slots[0].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>L-1
						</span>
					</div>
				</div>

				<div class="feuSlotsLeft">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
					<div class="labelLeft">
						{% if slots[1].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>L-2
						</span>
					</div>
				</div>

				<div class="feuSlotsLeft">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
					<div class="labelLeft">
						{% if slots[2].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>L-3
						</span>
					</div>
				</div>

				<div class="feuSlotsLeft">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
					<div class="labelLeft">
						{% if slots[3].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>L-4
						</span>
					</div>
				</div>

				<div class="feuSlotsLeft">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
					<div class="labelLeft">
						{% if slots[4].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>L-5
						</span>
					</div>
				</div>	

				<div class="feuSlotsLeft">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
					<div class="labelLeft">
						{% if slots[5].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>L-6
						</span>
					</div>
				</div>

				<div class="feuSlotsLeft">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
					<div class="labelLeft">
						{% if slots[6].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>L-7
						</span>
					</div>
				</div>
				
				<div class="lastBottom feuSlotsLeft">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
					<div class="labelLeft">
						{% if slots[7].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>L-8
						</span>
					</div>
				</div>
			</div>

			<div id="feuMid">
				<div id="feuBldg">
					<div id="feuExit">
						EXIT
					</div>
					<div id="feuEntrance">
						ENTRANCE
					</div>
				</div>

				<div class="lastLeft feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
					<div class="labelMid">
						{% if slots[8].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>M-1
						</span>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
					<div class="labelMid">
						{% if slots[9].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>M-2
						</span>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
					<div class="labelMid">
						{% if slots[10].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>M-3
						</span>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
					<div class="labelMid">
						{% if slots[11].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>M-4
						</span>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
					<div class="labelMid">
						{% if slots[12].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>M-5
						</span>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
					<div class="labelMid">
						{% if slots[13].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>M-6
						</span>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
					<div class="labelMid">
						{% if slots[14].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>M-7
						</span>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
					<div class="labelMid">
						{% if slots[15].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>M-8
						</span>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
					<div class="labelMid">
						{% if slots[16].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>M-9
						</span>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
					<div class="labelMid">
						{% if slots[17].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>M-10
						</span>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
					<div class="labelMid">
						{% if slots[18].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>M-11
						</span>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
					<div class="labelMid">
						{% if slots[19].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>M-12
						</span>
					</div>
				</div>

				<div class="lastRight feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
					<div class="labelMid">
						{% if slots[20].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>M-13
						</span>
					</div>
				</div>
				<div id="zuelig">
					ZUELIG LOOP
				</div>
			</div>


			<div align="right" id="feuRight">
				<div class="lastTop feuSlotsRight">
					<div class="feuStopperRight">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
					<div class="labelRight">
						{% if slots[21].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>R-1
						</span>
					</div>
				</div>

				<div class="feuSlotsRight">
					<div class="feuStopperRight">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
					<div class="labelRight">
						{% if slots[22].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>R-2
						</span>
					</div>
				</div>

				<div class="feuSlotsRight">
					<div class="feuStopperRight">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
					<div class="labelRight">
						{% if slots[23].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>R-3
						</span>
					</div>
				</div>

				<div class="feuSlotsRight">
					<div class="feuStopperRight">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
					<div class="labelRight">
						{% if slots[24].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>R-4
						</span>
					</div>
				</div>
				
				<div class="feuSlotsRight">
					<div class="feuStopperRight">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
					<div class="labelRight">
						{% if slots[25].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>R-5
						</span>
					</div>
				</div>

				<div class="feuSlotsRight">
					<div class="feuStopperRight">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
					<div class="labelRight">
						{% if slots[26].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>R-6
						</span>
					</div>
				</div>
				
				<div class="lastBottom feuSlotsRight">
					<div class="feuStopperRight">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
					<div class="labelRight">
						{% if slots[27].status == 0 %}
						<span class="available">
						{% else %}
						<span class="notAvailable">
						{% endif %}
							MKT<br>R-7
						</span>
					</div>
				</div>	
				<div id="buendia">
					SEN GIL PUYAT AVE
				</div>
			</div>
		</div>
	</div>
</body>
</html>