<html>
<head>
	<title>FEU</title>
</head>

<body>
	<div class="mapContainer">
		<div id="feuMap">
			<div id="feuLeft">
				<div class="lastTop feuSlotsLeft">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
				</div>

				<div class="feuSlotsLeft">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
				</div>

				<div class="feuSlotsLeft">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
				</div>

				<div class="feuSlotsLeft">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
				</div>

				<div class="feuSlotsLeft">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
				</div>	

				<div class="feuSlotsLeft">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
				</div>

				<div class="lastBottom feuSlotsLeft">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
				</div>
			</div>

			<div id="feuMid">
				<div id="feuBldg">
				</div>

				<div class="lastLeft feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
				</div>

				<div class="feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
				</div>

				<div class="lastRight feuSlotsBottom">
					<div class="feuStopperBottom">
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
						<div class="innerBottomBlack">
						</div>
						<div class="innerBottomYellow">
						</div>
					</div>
				</div>

			</div>

			<div align="right" id="feuRight">
				<div class="lastTop feuSlotsRight">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
				</div>

				<div class="feuSlotsRight">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
				</div>

				<div class="feuSlotsRight">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
				</div>

				<div class="feuSlotsRight">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
				</div>
				
				<div class="feuSlotsRight">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
				</div>

				<div class="feuSlotsRight">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
				</div>
				
				<div class="lastBottom feuSlotsRight">
					<div class="feuStopperLeft">
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
						<div class="innerLeftBlack">
						</div>
						<div class="innerLeftYellow">
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</body>
</html>