<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
	<link rel="stylesheet" media="screen and (min-width: 0px)" href="../static/css/xs.css">
	<link rel="stylesheet" media="screen and (min-width: 300px) and (max-width: 1000px)" href="../static/css/medium.css">
	<link rel="stylesheet" media="screen and (min-width: 1224px)" href="../static/css/medium.css">
</head>

<body>

	<div id="head" class="lighter">
		<div id="headLeft">
			<span class="glyphicon glyphicon-align-justify"></span>
		</div>
		<div id="headCenter">
			<span id="parking">P A R K I N G</span>
		</div>
		<div id="headRight">
			<img id="cone" src="../static/images/cone.jpg">
		</div>
	</div>

	<div id="body">
		<center>
			<div id="search">
				<input id="searchbox" type="text" placeholder="Search">
			</div>
			<span class="destinations">POPULAR DESTINATIONS</span>
			<div class="lighter places">
				<table class="destTable">
					<tr class="lighter rows">
						<td class="placePic">
							<img class="image" src="../static/images/glorietta.jpg">
						</td>
						<td class="placeDesc">
							<span class="placeName">Glorietta</span><br>
							<span class="placeAdd">Makati</span>
						</td>
						<td class="arrow">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</td>
					</tr>

					<tr class="lighter rows">
						<td class="placePic">
							<img class="image" src="../static/images/landmark.jpg">
						</td>
						<td class="placeDesc">
							<span class="placeName">The Landmark</span><br>
							<span class="placeAdd">Makati</span>
						</td>
						<td class="arrow">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</td>
					</tr>

					<tr class="lighter rows">
						<td class="placePic">
							<img class="image" src="../static/images/trinoma.jpg">
						</td>
						<td class="placeDesc">
							<span class="placeName">Trinoma</span><br>
							<span class="placeAdd">Quezon City</span>
						</td>
						<td class="arrow">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</td>
					</tr>

					<tr class="lighter rows">
						<td class="placePic">
							<img class="image" src="../static/images/glorietta.jpg">
						</td>
						<td class="placeDesc">
							<span class="placeName">Glorietta</span><br>
							<span class="placeAdd">Makati</span>
						</td>
						<td class="arrow">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</td>
					</tr>

					<tr class="lighter rows">
						<td class="placePic">
							<img class="image" src="../static/images/glorietta.jpg">
						</td>
						<td class="placeDesc">
							<span class="placeName">Glorietta</span><br>
							<span class="placeAdd">Makati</span>
						</td>
						<td class="arrow">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</td>
					</tr>
				</table>
			</div>

			<span class="destinations">RECENT DESTINATIONS</span>
			<div class="lighter places">
				<table class="destTable">
					<tr class="lighter rows">
						<td class="placePic">
							<img class="image" src="../static/images/glorietta.jpg">
						</td>
						<td class="placeDesc">
							<span class="placeName">Glorietta</span><br>
							<span class="placeAdd">Makati</span>
						</td>
						<td class="arrow">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</td>
					</tr>

					<tr class="lighter rows">
						<td class="placePic">
							<img class="image" src="../static/images/landmark.jpg">
						</td>
						<td class="placeDesc">
							<span class="placeName">The Landmark</span><br>
							<span class="placeAdd">Makati</span>
						</td>
						<td class="arrow">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</td>
					</tr>

					<tr class="lighter rows">
						<td class="placePic">
							<img class="image" src="../static/images/trinoma.jpg">
						</td>
						<td class="placeDesc">
							<span class="placeName">Trinoma</span><br>
							<span class="placeAdd">Quezon City</span>
						</td>
						<td class="arrow">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</td>
					</tr>

					<tr class="lighter rows">
						<td class="placePic">
							<img class="image" src="../static/images/glorietta.jpg">
						</td>
						<td class="placeDesc">
							<span class="placeName">Glorietta</span><br>
							<span class="placeAdd">Makati</span>
						</td>
						<td class="arrow">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</td>
					</tr>

					<tr class="lighter rows">
						<td class="placePic">
							<img class="image" src="../static/images/glorietta.jpg">
						</td>
						<td class="placeDesc">
							<span class="placeName">Glorietta</span><br>
							<span class="placeAdd">Makati</span>
						</td>
						<td class="arrow">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</td>
					</tr>
				</table>
			</div>

			<span class="destinations">FAVORITE DESTINATIONS</span>
			<div class="lighter places">
				<table class="destTable">
					<tr class="lighter rows">
						<td class="placePic">
							<img class="image" src="../static/images/glorietta.jpg">
						</td>
						<td class="placeDesc">
							<span class="placeName">Glorietta</span><br>
							<span class="placeAdd">Makati</span>
						</td>
						<td class="arrow">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</td>
					</tr>

					<tr class="lighter rows">
						<td class="placePic">
							<img class="image" src="../static/images/landmark.jpg">
						</td>
						<td class="placeDesc">
							<span class="placeName">The Landmark</span><br>
							<span class="placeAdd">Makati</span>
						</td>
						<td class="arrow">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</td>
					</tr>

					<tr class="lighter rows">
						<td class="placePic">
							<img class="image" src="../static/images/trinoma.jpg">
						</td>
						<td class="placeDesc">
							<span class="placeName">Trinoma</span><br>
							<span class="placeAdd">Quezon City</span>
						</td>
						<td class="arrow">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</td>
					</tr>

					<tr class="lighter rows">
						<td class="placePic">
							<img class="image" src="../static/images/glorietta.jpg">
						</td>
						<td class="placeDesc">
							<span class="placeName">Glorietta</span><br>
							<span class="placeAdd">Makati</span>
						</td>
						<td class="arrow">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</td>
					</tr>

					<tr class="lighter rows">
						<td class="placePic">
							<img class="image" src="../static/images/glorietta.jpg">
						</td>
						<td class="placeDesc">
							<span class="placeName">Glorietta</span><br>
							<span class="placeAdd">Makati</span>
						</td>
						<td class="arrow">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</td>
					</tr>
				</table>
			</div>
		</center>
	</div>

	<div id="foot">

	<script src="../static/js/jquery-1.11.0.min.js"></script>
	<script src="../static/js/bootstrap.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/highlight.min.js"></script>
	<script src="../static/js/jquery.flip.js"></script>
	<script src="../static/js/jquery.flip.min.js"></script>
	<script src="../static/js/animations.js"></script>

</body>
</html>