<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">

	{% if scheme=="dark" %}
	<link rel="stylesheet" media="screen and (min-width: 0px)" href="../static/css/xs.css">
	<link rel="stylesheet" media="screen and (min-width: 300px) and (max-width: 1000px)" href="../static/css/mediumDark.css">
	<link rel="stylesheet" media="screen and (min-width: 1224px)" href="../static/css/mediumDark.css">

	{% elif scheme=="light" %}
	<link rel="stylesheet" media="screen and (min-width: 0px)" href="../static/css/xs.css">
	<link rel="stylesheet" media="screen and (min-width: 300px) and (max-width: 1000px)" href="../static/css/mediumLight.css">
	<link rel="stylesheet" media="screen and (min-width: 1224px)" href="../static/css/mediumLight.css">

	{% elif scheme=="orange" %}
	<link rel="stylesheet" media="screen and (min-width: 0px)" href="../static/css/xs.css">
	<link rel="stylesheet" media="screen and (min-width: 300px) and (max-width: 1000px)" href="../static/css/mediumOrange.css">
	<link rel="stylesheet" media="screen and (min-width: 1224px)" href="../static/css/mediumOrange.css">
	{% endif %}

	<script src="../static/js/jquery-1.11.0.min.js"></script>
	<script src="../static/js/easing.js"></script>
	<script src="../static/js/animations.js"></script>

	
</head>

<body>
	<div id="loading"><span class="glyphicon glyphicon-cloud"></span><br><span class="loadLabel">Loading...</span></div>
		<div id="themeHead" class="lighter">
			<span id="backTheme" class="backArrow"><</span>
				<a href="/changetheme?scheme=dark"><div id="themeDefault" class="themeItem"></div></a>
				<a href="/changetheme?scheme=red"><div id="themeRed" class="themeItem"></div></a>
				<a href="/changetheme?scheme=orange"><div id="themeOrange" class="themeItem"></div></a>
				<a href="/changetheme?scheme=light"><div id="themeLight" class="themeItem"></div></a>
				<a href="/changetheme?scheme=blue"><div id="themeBlue" class="themeItem"></div></a>	
		</div>

		<div id="head" class="lighter">
			<div id="headLeft">
				{% if scheme=="dark" %}
				<img id="toggleDown" class="toggleUnclicked" src="../static/images/menuDark.png"><span id="parking">Parada.ph</span>

				{% elif scheme=="light" %}
				<img id="toggleDown" class="toggleUnclicked" src="../static/images/menuLight.png"><span id="parking">Parada.ph</span>

				{% elif scheme=="orange" %}
				<img id="toggleDown" class="toggleUnclicked" src="../static/images/menuOrange.png"><span id="parking">Parada.ph</span>

				{% endif %}

				<span id="toggleUp" class="glyphicon glyphicon-chevron-up"></span>
			</div>
			<div id="headRight">
				{% if scheme=="dark" %}
				<img id="cone" src="../static/images/coneDark.jpg">

				{% elif scheme=="light" %}
				<img id="cone" src="../static/images/coneLight.jpg">

				{% elif scheme=="orange" %}
				<img id="cone" src="../static/images/coneOrange.jpg">
				{% endif %}
			</div>
		</div>
		<div id="searchHead" class="lighter">
			<span id="backSearch" class="backArrow"><</span> <input id="searchBox" type="text" placeholder="Search">
		</div>

		<div id="navigation" class="darker navUnclicked">
			<center>
				<div id="profile">
					<img id="profilePic" src=""><br>
					<!-- <img id="profilePic" src="https://graph.facebook.com/{{facebook_id}}/picture?type=large"><br> -->
					<span id="profileLabel"><!-- {{first_name}} {{last_name}} -->Jasper Barcelona</span><br>
				</div>
			</center>
				<div id="navGroup">					
					<div class="active navItem">
						<span class="navPic glyphicon glyphicon-home"></span>
						<span class="navLabel">Home</span>
					</div>

					<div id="search" class="navItem">
						<span class="navPic glyphicon glyphicon-search"></span>
						<span class="navLabel">Search</span>
					</div>

					<div id="changeTheme" class="navItem">
						<span class="navPic glyphicon glyphicon-eye-open"></span>
						<span class="navLabel">Change Theme</span>
					</div>
			
					<div class="navItem">
						<span class="navPic glyphicon glyphicon-off"></span>
						<a href="/logout"><span class="navLabel">Sign Out</span></a>
					</div>
				</div>
		</div>

		<div id="container" class="containerUnclicked">
			<div id="body">
				
					<br>
					<span class="destinations">SAVED DESTINATIONS</span>
					<div id="recent" class="lighter places">
						<div class="rows">
							<div class="placePic">
								<img class="image" src="../static/images/glorietta.jpg">
							</div>
							<div class="placeDesc">
								<span class="placeName">Glorietta</span>
								<span class="placeAdd">Makati</span>
							</div>
							<div class="arrow">
								<span>></span>
							</div>
						</div>

						<div class="rows">
							<div class="placePic">
								<img class="image" src="../static/images/magnolia.jpg">
							</div>
							<div class="placeDesc">
								<span class="placeName">Robinsons Magnolia</span><br>
								<span class="placeAdd">Quezon City</span>
							</div>
							<div class="arrow">
								<span>></span>
							</div>
						</div>

						<div class="rows">
							<div class="placePic">
								<img class="image" src="../static/images/greenbelt.jpg">
							</div>
							<div class="placeDesc">
								<span class="placeName">Greenbelt</span>
								<span class="placeAdd">Makati City</span>
							</div>
							<div class="arrow">
								<span>></span>
							</div>
						</div>
					</div>	

					<span class="destinations">ALL DESTINATIONS</span>		
					<div id="all" class="lighter places">
						{% for a in dest %}
							<div id="{{a.page}}" class="rows" onclick="map(this.id)">
								<div class="placePic">
									<img class="image" src="{{a.image}}">
								</div>
								<div class="placeDesc">
									<span class="placeName">{{a.name}}</span>
									<span class="placeAdd">{{a.city}}</span>
								</div>
								<div class="arrow">
									<span>></span>
								</div>
							</div>
						{% endfor %}
					</div>			
				</center>
				<br><br>
			</div>
			<!-- <img id="preloader" src="../static/images/loading.GIF"> -->
		</div>
		<div id="controlPanel">
			<div id="controlLoad">
			</div>
			<div id="controlLeft">

			</div>
			<div id="controlRight">
				
				<button class="zoom btn btn-default" id="zoomOut">-</button>
				<button class="zoom btn btn-default" id="zoomIn">+</button>
			</div>
		</div>

	<script src="../static/js/jquery-ui.js"></script>
	<script src="../static/js/jquery-ui.min.js"></script>
	<script src="../static/js/headroom.js"></script>
	<script src="../static/js/functions.js"></script>

	

</body>
</html>