<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">

	{% if scheme=="dark" %}
	<link rel="stylesheet" media="screen and (min-width: 0px)" href="../static/css/xs.css">
	<link rel="stylesheet" media="screen and (min-width: 300px) and (max-width: 1000px)" href="../static/css/mediumDark.css">
	<link rel="stylesheet" media="screen and (min-width: 1224px)" href="../static/css/mediumDark.css">

	{% elif scheme=="light" %}
	<link rel="stylesheet" media="screen and (min-width: 0px)" href="../static/css/xs.css">
	<link rel="stylesheet" media="screen and (min-width: 300px) and (max-width: 1000px)" href="../static/css/mediumLight.css">
	<link rel="stylesheet" media="screen and (min-width: 1224px)" href="../static/css/mediumLight.css">

	{% elif scheme=="orange" %}
	<link rel="stylesheet" media="screen and (min-width: 0px)" href="../static/css/xs.css">
	<link rel="stylesheet" media="screen and (min-width: 300px) and (max-width: 1000px)" href="../static/css/mediumOrange.css">
	<link rel="stylesheet" media="screen and (min-width: 1224px)" href="../static/css/mediumOrange.css">

	{% endif %}
</head>

<body>
		<div id="intro" class="lighter">
			<div id="coneIntro">
				{% if scheme=="dark" %}
				<img src="../static/images/coneDark.jpg">

				{% elif scheme=="light" %}
				<img src="../static/images/coneLight.jpg">

				{% elif scheme=="orange" %}
				<img src="../static/images/coneOrange.jpg">

				{% endif %}
				<br>
				Welcome back, Jasper
			</div>
		</div>

		<div id="themeHead" class="lighter">
			<span id="backTheme" class="backArrow"><</span>
				<div id="themeDefault" class="themeItem"></div>
				<div id="themeRed" class="themeItem"></div>
				<div id="themeOrange" class="themeItem"></div>	
				<div id="themeLight" class="themeItem"></div>
				<div id="themeBlue" class="themeItem"></div>		
		</div>

		<div id="head" class="lighter">
			<div id="headLeft">
				{% if scheme=="dark" %}
				<img id="toggleDown" class="toggleUnclicked" src="../static/images/menuDark.png"><span id="parking">Parada.ph</span>

				{% elif scheme=="light" %}
				<img id="toggleDown" class="toggleUnclicked" src="../static/images/menuLight.png"><span id="parking">Parada.ph</span>

				{% elif scheme=="orange" %}
				<img id="toggleDown" class="toggleUnclicked" src="../static/images/menuOrange.png"><span id="parking">Parada.ph</span>

				{% endif %}

				<span id="toggleUp" class="glyphicon glyphicon-chevron-up"></span>
			</div>
			<div id="headRight">
				{% if scheme=="dark" %}
				<img id="cone" src="../static/images/coneDark.jpg">

				{% elif scheme=="light" %}
				<img id="cone" src="../static/images/coneLight.jpg">

				{% elif scheme=="orange" %}
				<img id="cone" src="../static/images/coneOrange.jpg">

				{% endif %}
			</div>
		</div>
		<div id="searchHead" class="lighter">
			<span id="backSearch" class="backArrow"><</span> <input id="searchBox" type="text" placeholder="Search">
		</div>

		<div id="navigation" class="darker navUnclicked">
			<center>
				<div id="navGroup">
					<div id="search" class="navItem">
						<span class="glyphicon glyphicon-search"></span>
					</div>

					<div class="navItem">
						<span class="glyphicon glyphicon-home"></span>
					</div>

					<div id="changeTheme" class="navItem">
						<span class="glyphicon glyphicon-eye-open"></span>
					</div>
			
					<div class="navItem">
						<span class="glyphicon glyphicon-off"></span>
					</div>
				</div>
			</center>
		</div>

		<div id="searchResult" class="darker">
			<div id="resultIcon">
				<center><span class="glyphicon glyphicon-search"></span></center>
			</div>
		</div>

		<div id="container" class="containerUnclicked">
			<div id="body">
				<center>
					<br>
					<span class="destinations">POPULAR DESTINATIONS</span>
					<div id="popular" class="lighter places">
						<div class="rows">
							<div class="placePic">
								<img class="image" src="../static/images/glorietta.jpg">
							</div>
							<div class="placeDesc">
								<span class="placeName">Glorietta</span>
								<span class="placeAdd">Makati City</span>
							</div>
							<div class="arrow">
								<span>></span>
							</div>
						</div>

						<div class="rows">
							<div class="placePic">
								<img class="image" src="../static/images/greenbelt.jpg">
							</div>
							<div class="placeDesc">
								<span class="placeName">Greenbelt</span>
								<span class="placeAdd">Makati City</span>
							</div>
							<div class="arrow">
								<span>></span>
							</div>
						</div>

						<div class="rows">
							<div class="placePic">
								<img class="image" src="../static/images/rwb.jpg">
							</div>
							<div class="placeDesc">
								<span class="placeName">Resorts World Manila</span><br>
								<span class="placeAdd">Pasay City</span>
							</div>
							<div class="arrow">
								<span>></span>
							</div>
						</div>

						<div class="rows" onclick="channel_click()">
							<div class="placePic">
								<img class="image" src="../static/images/magnolia.jpg">
							</div>
							<div class="placeDesc">
								<span class="placeName">Robinsons Magnolia</span><br>
								<span class="placeAdd">Quezon City</span>
							</div>
							<div class="arrow">
								<span>></span>
							</div>
						</div>

						<div class="rows">
							<div class="placePic">
								<img class="image" src="../static/images/gale.jpg">
							</div>
							<div class="placeDesc">
								<span class="placeName">Robinsons Galeria</span>
								<span class="placeAdd">Quezon City</span>
							</div>
							<div class="arrow">
								<span>></span>
							</div>
						</div>

						<div class="rows">
							<div class="placePic">
								<img class="image" src="../static/images/trinoma.jpg">
							</div>
							<div class="placeDesc">
								<span class="placeName">Trinoma</span>
								<span class="placeAdd">Quezon City</span>
							</div>
							<div class="arrow">
								<span>></span>
							</div>
						</div>
					</div>

					<span class="destinations">RECENT DESTINATIONS</span>
					<div id="recent" class="lighter places">
						<div class="rows">
							<div class="placePic">
								<img class="image" src="../static/images/glorietta.jpg">
							</div>
							<div class="placeDesc">
								<span class="placeName">Glorietta</span>
								<span class="placeAdd">Makati</span>
							</div>
							<div class="arrow">
								<span>></span>
							</div>
						</div>

						<div class="rows">
							<div class="placePic">
								<img class="image" src="../static/images/landmark.jpg">
							</div>
							<div class="placeDesc">
								<span class="placeName">The Landmark</span><br>
								<span class="placeAdd">Makati</span>
							</div>
							<div class="arrow">
								<span>></span>
							</div>
						</div>

						<div class="rows">
							<div class="placePic">
								<img class="image" src="../static/images/trinoma.jpg">
							</div>
							<div class="placeDesc">
								<span class="placeName">Trinoma</span><br>
								<span class="placeAdd">Quezon City</span>
							</div>
							<div class="arrow">
								<span>></span>
							</div>
						</div>
					</div>			
				</center>
				<br><br>
			</div>
			<img id="preloader" src="../static/images/loading.GIF">
		</div>


	<script src="../static/js/jquery-1.11.0.min.js"></script>
	<script src="../static/js/animations.js"></script>
	<script src="../static/js/jquery-ui.js"></script>
	<script src="../static/js/jquery-ui.min.js"></script>
	<script src="../static/js/functions.js"></script>

	

</body>
</html>