<html>
<head>
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">

	{% if scheme=="dark" %}
	<link rel="stylesheet" media="screen and (min-width: 0px)" href="../static/css/xs.css">
	<link rel="stylesheet" media="screen and (min-width: 300px) and (max-width: 1000px)" href="../static/css/mediumDark.css">
	<link rel="stylesheet" media="screen and (min-width: 1224px)" href="../static/css/mediumDark.css">

	{% elif scheme=="light" %}
	<link rel="stylesheet" media="screen and (min-width: 0px)" href="../static/css/xs.css">
	<link rel="stylesheet" media="screen and (min-width: 300px) and (max-width: 1000px)" href="../static/css/mediumLight.css">
	<link rel="stylesheet" media="screen and (min-width: 1224px)" href="../static/css/mediumLight.css">

	{% elif scheme=="orange" %}
	<link rel="stylesheet" media="screen and (min-width: 0px)" href="../static/css/xs.css">
	<link rel="stylesheet" media="screen and (min-width: 300px) and (max-width: 1000px)" href="../static/css/mediumOrange.css">
	<link rel="stylesheet" media="screen and (min-width: 1224px)" href="../static/css/mediumOrange.css">
	{% endif %}

	<script src="../static/js/jquery-1.11.0.min.js"></script>
	<script src="../static/js/easing.js"></script>
	<script src="../static/js/animations.js"></script>
</head>

<body>
	<div id="intro" class="lighter">
		<div id="coneIntro">
			{% if scheme=="dark" %}
			<img src="../static/images/coneDark.jpg">

			{% elif scheme=="light" %}
			<img src="../static/images/coneLight.jpg">

			{% elif scheme=="orange" %}
			<img src="../static/images/coneOrange.jpg">

			{% endif %}
			<br>
			Parada.ph
		</div>
	</div>

	<div id="loginContainer" class="lighter">
		<div id="loginForm">
			<a href="/facebooklogin"><button id="facebook" type="button" class="loginBtn btn btn-primary">Sign In with Facebook</button></a>
			<a><button id="authorize-button" type="button" onclick="handleAuthClick()" class="loginBtn btn btn-danger">Sign In with Google</button></a>	

			<span id="or">Or</span>
		</div>
	</div>

	<script type="text/javascript">
		var clientId='898479168208-kn5g27j9n96sjklsbe6g1d4p2n8gjdef.apps.googleusercontent.com';
		var apiKey='AIzaSyDJaDGiNxI8ATRp1KZHqIXuCw2FAaeOdfs';
		var scopes='https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email'

		function handleAuthClick(event){
			gapi.auth.authorize({client_id: clientId, api_key: apiKey, scope: scopes, immediate: true}, makeApiCall());
			return false;
		}

		function logResponse(resp){
			console.log(resp);
		}

		function makeApiCall(){
			var email = '';
			var displayName = ''; 
			gapi.client.setApiKey(apiKey);
			gapi.client.load('oauth2', 'v2', function(){
				var request = gapi.client.oauth2.userinfo.get();

				request.execute(function(logResponse){
					email = logResponse.email;
				});
			});
			gapi.client.setApiKey(apiKey);
			gapi.client.load('plus', 'v1', function(){
				var request = gapi.client.plus.people.get({
					'userId':'me'
				});

				request.execute(function(logResponse){
					displayName = logResponse.displayName;
				});
			});
			$('<form action="/googlelogin" method="POST">' + 
			'<input type="hidden" name="email" value="' + email + '">' +
			'<input type="hidden" name="displayName" value="' + displayName + '">' +
			'</form>').submit();
		}
	</script>

	<script src="https://apis.google.com/js/client.js"></script>
</body>

</html>